<!doctype html>
<html lang="en">
<head>
  	<title>Add Commission</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">	
	</head>
  <br>
  <div>
	<center class="tab">
	<a href="users" class="btn btn-success">Users</a>
	<a href="orders" class="btn btn-danger">Orders</a>
	<a href="products" class="btn btn-warning">Products</a>
  <a href="sales" class="btn btn-success">Sales</a>
	</center>
   <div class="container">
  <a href="#"> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ForTech" width="200" height="160"> </a>
	</div>
  <body>
    <div class="container">
  <form action="/addcommission"  method="post" class="contact-form webform" enctype="multipart/form-data" data-aos="fade-up" data-aos-delay="400" role="form">

                    <h6 class="heading-small text-muted mb-4">Add your Sales Commission</h6>

                  <div>
                    <label class="form-control-label" for="salesEmail">Sales Email</label>
                    <input type="salesEmail" name="salesEmail" id="salesEmail" class="form-control" placeholder="Enter Sales Email" required>
                    <br>
                    <label class="form-control-label" for="salesPercentage">Sales Percentage</label>
                    <input type="floatformat" name="salesPercentage" id="salesPercentage" class="form-control" placeholder="Enter Sales Percentage" required>
                    <br><br>
                    </div>
                    <div>
                    <label class="form-control-label" for="salesPercentage">Total Sales</label>
                     <input type="floatformat" name="TotalCommissionCalculation" id="TotalCommissionCalculation" class="form-control" placeholder="Enter Total Sales" required>
                    <br><br>
                    </div>

                  <div>
                    <button type="submit" id="submit-button" class="btn btn-primary">Save</button>                    
                      </div>  
          </form>
          </div>
          
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  </body>

</html>

 