<!doctype html>
<html lang="en">
<head>
  	<title>Products Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">	
	</head>
  <br>
  <div>
	<center class="tab">
	<a href="users" class="btn btn-success">Users</a>
	<a href="orders" class="btn btn-danger">Orders</a>
	<a href="products" class="btn btn-warning">Products</a>
  <a href="sales" class="btn btn-success">Sales</a>
	</center>
   <div class="container">
  <a href="#"> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ForTech" width="200" height="160"> </a>
	</div>
  <body>
 
<br><br>
    <div class="container">
  <form action="/addProduct"  method="post" class="contact-form webform" enctype="multipart/form-data" data-aos="fade-up" data-aos-delay="400" role="form">
                    <h6 class="heading-small text-muted mb-4">Add your Product</h6>
                      <div>
                    <label class="form-control-label" for="pname">Product Name</label>
                    <input type="text" id="pname" name="pname" class="form-control" placeholder="Product Name" required >

                    <label class="form-control-label" for="Price">Price</label>
                    <input type="floatformat" name="Price" id="Price" class="form-control" placeholder="0" required>
					
					<label class="form-control-label" for="Price">ID</label>
                    <input type="floatformat" type="number" name="id" id="id" class="form-control" placeholder="0" required>
                    <br>
                    <label class="button" for="img">Upload Image </label>
                    <input type="file" name="img" id="img" required>
                    </div>
                  <br>
                  <div>
                    <label  for ="Description" class="form-control-label">Description</label>
                    <textarea rows="4" class="form-control"id="Description" name="Description" placeholder="A few words about The Product ..."></textarea>
                  </div>
                  <br>
                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                  <select class="custom-select custom-select-sm" name="Category">
                        <option value="a"><b> sandwitches </b> </option>
                     <option value="b"> meals </option>
                  </select>
                        </div>
                      </div>
                      <br>                   
                      <div>  
                    <button type="submit" id="submit-button" class="btn btn-primary">Save</button>                    
                      </div>  
          </form>
          </div>
          
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  </body>

</html>

 