<!doctype html>
<html lang="en">
  <head>
  	<title>Paid Orders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">	
	</head>
	<header>
	
	<br>
	<div>
	<center class="tab">
	<a href="users" class="btn btn-success">Users</a>
	<a href="orders" class="btn btn-danger">Orders</a>
	<a href="products" class="btn btn-warning">Products</a>
	<a href="#" class="btn btn-success">Paid Orders</a>
	</center>
	</div>
	
	
    </header>

	<body>
	</div>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
							<tr>
                                
								<th>Ordered by</th>
								<th>Order Email</th>
								<th>Order items</th>
								<th>Order TotalPrice</th>
								<th>Order PhoneNumber</th>
								<th>Paid</th>
								<th>OrderNote</th>
								
								
							  </tr>
							</thead>
							{% for doc in docs %}
							<tbody>
							  <tr>
							   <td class="cell100 column1">{{doc.to_dict().firstName}} {{doc.to_dict().lastName}}</td>
							   <td class="cell100 column1">{{doc.to_dict().Email}}</td>
							   <td class="cell100 column1">{{doc.to_dict().cart}}</td>
							   <td class="cell100 column1">{{doc.to_dict().price}}</td>
							   <td class="cell100 column1">{{doc.to_dict().PhoneNumber}}</td>
							   <td class="cell100 column1">{{doc.to_dict().Paid}}</td>
							   <td class="cell100 column1">{{doc.to_dict().OrderNote}}</td>
							   
							  </tr>
							  {% endfor %}
							</tbody>
						  
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
	
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

